<p>task-manager works!</p>

<div *ngIf="boards">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Lists</h2>
      </div>
      <ul class="list-group list-group-horizontal">
        <li *ngFor="let board of boards; index as i" class="list-group-item">
          <div class="clearfix">
            <div class="float-start">
              {{ board.title }}

              <ul id="todo-items" class="list-group mb-2">
                <li class="list-group-item" *ngFor="let item of board.items; index as i">
                  <div class="d-flex">
                    <div class="flex-fill">
                      <div class="todo-item-title" [ngClass]="{ 'done-todo': item.done }"
                           class="form-control item-input-control">
                        <span>{{ item.title }}</span>
                      </div>
                    </div>
                    <div class="todo-item-commands">
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
