<p>task-manager works!</p>

<div *ngIf="boards">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Доски</h2>
        <button class="btn btn-default float-end" title="New List..."
                (click)="showNewBoardModal(newBoardModalTemplate)">
          <i class="bi bi-journal-plus"></i>
        </button>
      </div>
      <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="boards"
        class="example-horizontal-list"
        (cdkDropListDropped)="dropBoard($event)">
        <div class="example-container" *ngFor="let board of boards" cdkDrag>
          <h2>{{ board.title }}</h2>

          <div
            cdkDropList
            class="example-vertical-list"
            id="{{board.id}}"
            [cdkDropListConnectedTo]="['1', '2', '3']"
            [cdkDropListData]="board.tasks"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let task of board.tasks" cdkDrag>{{ task.title }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #newBoardModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New List</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="newBoardCancelled()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Board title..." [(ngModel)]="newBoardEditor.title"
             [ngClass]="{ 'is-invalid': newBoardEditor.error }" (keyup.enter)="addBoard()" />
      <div *ngIf="newBoardEditor.error" class="invalid-feedback">
        {{ newBoardEditor.error }}
      </div>
    </div>
    <div>
      <pre>{{ newBoardEditor | json }}</pre>
    </div>
  </div>
  <div class="modal-footer clearfix">
    <div class="float-end">
      <button class="btn btn-default" (click)="newBoardCancelled()">Cancel</button>
      <button class="btn btn-primary" (click)="addBoard()">Create</button>
    </div>
  </div>
</ng-template>
