<p>task-manager works!</p>

<div *ngIf="boards" class="example-container">

  <div class="row">
    <div class="col-sm-4">
      <div class="clearfix">
        <h2 class="float-start">Доски</h2>
      </div>
      <ul class="list-group list-group-horizontal">
        <li *ngFor="let board of boards; index as i" class="list-group-item">
          <div class="clearfix example-container">
            <h2>{{ board.title }}</h2>

            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="board.items"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of board.items" cdkDrag>{{ item.title }}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
